@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  background-color:#121212;
  font-family: 'Poppins', sans-serif;
}

.layout {
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.historia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  color: white;
  font-weight: 400;
  font-size: 20px;
}

.opciones {
  margin-top: 20px;
  color: white;

}

.opcion {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 10px;
  font-size: 14px;
}

.recordatorio {
  color: white;
  margin-top: 60px;
}

.recordatorio p{
  margin-right: 20px;
  color: #a0e650;
}

.recordatorio ul{
  display:flex;
  align-items: flex-start;
  padding: 0;
}

.recordatorio li{
  list-style: none;
  padding-right: 10px;
}

.botones {
  border-radius: 8px;
  border: 1px solid #a0e650;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 6px 24px;
  text-decoration: none;
}
.botones:hover {
  background-color: #a0e650;
  color: #121212;
}
.botones:active {
  position: relative;
  top: 1px;
}

.recordatorio{
  font-size: 14px;
}
